@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&family=PT+Serif&display=swap');

body {
    height: 100%;
    padding: 25px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Mukta', sans-serif;
}

p {
    font-family: 'PT Serif', serif;
}

img {
    max-width: 100%;
}

.primary-bg {
    background-color: #F79595;
}

.secondary-bg {
    background-color: #D9F4C7;
}