/* Cards View Styles */
#cards-view {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
    margin-bottom: 50px;
    width: 100%;
}

.card {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid;
}

.card img {
    width: 200px;
}

h1 {
    text-align: center;
    font-size: 38px;
}

img {
    max-width: 100%;
}

#view {
    display: flex;
    justify-content: center;
}

#view img {
    margin: 10px;
    width: 50px;
}

#view img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Table Styles */

thead th {
    background-color: rgb(92, 86, 93);
    color: white;
}

table, th, td {
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}

table {
    border: solid 1px black;
    caption-side: bottom;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
}

#table-div {
    width: 100%;
    overflow-x: auto;
}

tbody tr:nth-of-type(even) {
    background-color: #ccc;
}

tbody th, td {
    border: solid lightgray 1px;
}

/* Displays */
.display-off {
    display: none !important;
}

@media screen and (min-width: 725px) {
    #cards-view {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1100px) {
    #cards-view {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* for table, use display block for phone view and table-cell for larger screen */