/* Header Styles 
---------------------------------------------- */

main h1, main h2, main h3, main h4, main h5, main h6 {
    font-family: Georgia;
}

main p {
    font-family: Helvetica;
}

img {
    max-width: 100%;
}

.bravo-six {
    display: none;
}

header {
    padding: 25px;
}

#header-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-logo {
    width: 200px;
}

#social-media-logos {
    display: none;
}

#facebook-logo {
    width: 15%;
    margin-right: 5px;
}

#linkedin-logo {
    background-color: white;
    width: 15%;
}

#notification {
    text-align: center;
    color: red;
}

/* Hamburger menu */
header nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 50px;
    z-index: 1;
}

.ham-link {
    background-color: white;
}

header nav a:hover {
    text-decoration: underline;
}

header nav a {
    display: none;
    text-decoration: none;
    font-size: 30px;
    color: black;
}

header nav a:first-child {
    display: block;
    text-decoration: none;
    font-size: 2em;
    color: black;
}

#current-time {
    background-color: #1c5373;
    color: white;
    margin-top: 15px;
    padding: .5px;
}

#date {
    text-align: center;
}

/* Footer Styles 
---------------------------------------------- */
footer {
    background-color: #1c5373;
    color: white;
    padding: 25px;
}

footer div a {
    text-decoration: none;
    color: white;
}

footer div a:hover {
    text-decoration: underline;
}

#footer-contact-n-logo {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#footer-logo {
    width: 175px;
    order: 1;
}

#address {
    text-align: center;
}

#footer-stuff {
    text-align: center;
}

.responsive a {
    display: block;
    font-size: 25px;
    padding: 5px;
}


@media screen and (min-width: 725px) {
    /* Header Styles 
    ---------------------------------------------- */
    #header-flex {
        justify-content: space-evenly;
    }

    #header-logo {
        width: 200px;
    }

    #social-media-logos {
        display: flex;
        justify-content: end;
        margin-right: 0px;
    }

    header nav {
        display: block;
        right: inherit;
        left: inherit;
    }

    /* Footer Styles 
    ---------------------------------------------- */
    #footer-contact-n-logo {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    #address {
        order: 1;
        text-align: left;
    }

    #footer-logo {
        order: 2;
    }

    #phone-number {
        order: 3;
    }

    #footer-stuff {
        display: flex;
        justify-content: space-evenly;
    }

    .line-spacer {
        background-color: white;
        width: 1px;
        height: 30px;
        align-self: center;
    }
}

@media screen and (min-width: 1100px) {
    /* Header Styles 
    ---------------------------------------------- */
    #social-media-logos {
        order: 2;
    }

    header nav {
        display: flex;
        flex-direction: row;
        position: static;
    }

    header nav a {
        display: block;
        margin-left: 2vw;
    }

    .ham-link {
        padding: 0px;
    }

    header nav a:first-child {
        display: none;
    }
    
    .ham-link {
        background-color: transparent;
    }
}