/* Header Styles 
---------------------------------------------- */

img {
    max-width: 100%;
}

header {
    padding: 25px;
}

#header-flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#header-logo {
    width: 200px;
}

#social-media-logos {
    display: flex;
    justify-content: end;
    margin-right: 20px;
}

#facebook-logo {
    width: 15%;
    margin-right: 5px;
}

#linkedin-logo {
    background-color: white;
    width: 15%;
}

/* Hamburger menu */
header nav {
    display: flex;
    flex-direction: column;
}

header nav a {
    display: none;
    text-decoration: none;
    font-size: 30px;
    color: black;
}

header nav a:first-child {
    display: block;
    text-decoration: none;
    font-size: 2em;
    color: black;
}

#current-time {
    background-color: #1c5373;
    color: white;
    margin-top: 15px;
    padding: .5px;
}

#date {
    text-align: center;
}

/* Main Styles 
---------------------------------------------- */
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 250px);
}

section {
    background-color: lightgray;
    margin: 5px;
    padding: 10px;
    border: solid;
    border-color: darkgray;
}

#hero-section {
    position: relative;
}

#welcome {
    position: absolute;
    top: 50px;
    left: 50px;
}

#spotlight-3 {
    display: none;
}

#spotlight-section div {
    border: solid;
    border-color: darkgray;
}

#spotlight-section {
    grid-row: 3/5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

/* Footer Styles 
---------------------------------------------- */
footer {
    background-color: #1c5373;
    color: white;
    padding: 25px;
}

footer div a {
    text-decoration: none;
    color: white;
}

footer div a:hover {
    text-decoration: underline;
}

#footer-contact-n-logo {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#footer-logo {
    width: 175px;
    order: 1;
}

#address {
    text-align: center;
}

#footer-stuff {
    text-align: center;
}

.responsive a {
    display: block;
    font-size: 25px;
    padding: 5px;
}


@media screen and (min-width: 725px) {
    /* Header Styles 
    ---------------------------------------------- */
    #header-logo {
        width: 200px;
    }

    #social-media-logos {
        margin-right: 0;
    }

    /* Main Styles 
    ---------------------------------------------- */
    main {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(5, 250px);
    }

    #hero-section {
        grid-column: 1/3;
    }

    #news-section {
        grid-column: 1/3;
    }

    #spotlight-section {
        grid-column: 1/3;
        grid-row: 3/4;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    #join-section {
        grid-column: 1/3;
    }

    /* Footer Styles 
    ---------------------------------------------- */
    #footer-contact-n-logo {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    #address {
        order: 1;
        text-align: left;
    }

    #footer-logo {
        order: 2;
    }

    #phone-number {
        order: 3;
    }

    #footer-stuff {
        display: flex;
        justify-content: space-evenly;
    }

    .line-spacer {
        background-color: white;
        width: 1px;
        height: 30px;
        align-self: center;
    }
}

@media screen and (min-width: 1100px) {
    /* Header Styles 
    ---------------------------------------------- */
    #social-media-logos {
        order: 2;
    }

    header nav {
        flex-direction: row;
    }

    header nav a {
        display: block;
        margin-left: 2vw;
    }

    header nav a:first-child {
        display: none;
    }

    /* Main Styles 
    ---------------------------------------------- */
    main {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(3, 250px);
    }

    #hero-section {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    #spotlight-section {
        grid-column: 3/4;
        grid-row: 1/4;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    #spotlight-3 {
        display: block;
    }

    #news-section {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    #event-section {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #weather-section {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #join-section {
        grid-column: 1/2;
        grid-row: 3/4;
    }
}